*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans 3", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: #fff;
  color: #0e0e0e;
}

nav {
  display: flex;
  align-items: center;
  max-height: 60px;
  padding: 1em;
}

nav h1 {
  display: inline;
  font-size: 1rem;
  margin: 0 0 0 0.5em;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
  margin: 0 0 0 auto;
}

nav li {
  margin: 0;
  font-weight: 600;
  white-space: nowrap;
}

nav li a {
  text-decoration: none;
  color: #0e0e0e;
}

section {
  width: 100%;
  background-color: #fafafa;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  justify-content: center;
}

.hero-inner {
  max-width: 800px;
  padding: 2em;
}

.content {
  max-width: 800px;
  margin: 2em auto;
  padding: 0 1em;
}

#recent-posts {
  text-align: center;
}

.blog-post {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: #fff;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2em;
  margin-top: 2em;
}

footer {
  background-color: #202020;
  color: #ececec;
  text-align: center;
  padding: 2em;
  font-size: clamp(0.8rem, 2.5vw, 1.25rem);
}

footer p:first-of-type {
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.2em;
}

footer p:last-of-type {
  margin-top: 0;
}

@media only screen and (min-width: 600px) {
  .hero {
    height: 300px;
    flex-direction: row;
    padding: 2em;
  }

  .hero-inner {
    padding: 0 2em;
  }
}
