*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans 3", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: #fff;
  color: #0e0e0e;
}

nav {
  display: flex;
  align-items: center;
  max-height: 60px;
  padding: 1em;
}

nav h1 {
  display: inline;
  font-size: 1rem;
  margin: 0 0 0 0.5em;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1em;
  margin: 0 0 0 auto;
}

nav li {
  margin: 0;
  font-weight: 600;
}

.hero {
  background: #020204 url(assets/hero.png) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.hero time {
  color: #fff;
  display: block;
  margin: 0;
  padding: 5.3125em 0 0 15px;
  font-size: clamp(0.6rem, 2vw, 0.75rem);
}

.hero h2 {
  color: #fff;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  margin: 0;
  padding: 0 0 0 15px;
}

.hero p {
  color: #fff;
  font-size: clamp(0.8rem, 2.5vw, 1.25rem);
  margin: 0;
  line-height: 1.5rem;
  padding: 0 0 1.5em 15px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

main img {
  display: block;
  width: clamp(200px, 100%, 600px);
  border-radius: 3px;
}

main time {
  display: block;
  font-size: clamp(0.8rem, 2.5vw, 1.25rem);
  margin: 1.25em 0 0 0;
}

main h2 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  margin: 0.5em 0 0.2em 0;
}

main p {
  font-size: clamp(0.8rem, 2.5vw, 1.25rem);
  line-height: 1.5rem;
  margin: 0 0 1.5em 0;
}

#view-more {
  font-weight: 700;
  padding: 0;
  line-height: 0.6;
  border-bottom: #000 1px solid;
}

footer {
  background-color: #202020;
  color: #ececec;
  text-align: center;
  padding: 2em;
  font-size: clamp(0.8rem, 2.5vw, 1.25rem);
}

footer p:first-of-type {
  font-weight: 700;
  margin-top: 1em;
  margin-bottom: 0.2em;
}

footer p:last-of-type {
  margin-top: 0;
}

@media only screen and (orientation: portrait) and (min-width: 600px) {
  .hero {
    height: 400px;
  }
}
@media only screen and (orientation: landscape) and (min-width: 800px) {
  .hero {
    height: 300px;
  }
}